<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <%- body %>
  <%- partial('_partial/footer') %>

  <!-- After footer scripts -->
  <%- partial('_partial/after-footer') %>
  <%- partial('_partial/ga.ejs') %>
  <script
  src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"
  data-apikey="8d801fe91b58dfc8b57c12edb9579c9c"></script>
</body>
</html>
