<article class="post__container--expansive">
	<h2 class="entry-title">
	<%- page.title || theme.default_post_title || "Untitled" %>
	</h2>
	<% if (page.subtitle && page.subtitle.length) { %>
	<p class="subtitle"><%- page.subtitle %></p>
	<% } %>
	<hr class="divide"/>
	<p class="posted-on">
		<%= page.date.format(config.date_format) %>
	</p>
	<div class="entry-content">
		<%- page.content %>
	</div>
	<div class="post__tags">
		<% if (page.tags) { %>
		<% page.tags.each(function(tag){ %>
			<a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
			<%- tag.name %>
			</a>
		<% }); %>
		<% } %>
	</div>
</article>
<div class="post__comments-containers">
	<%- partial('_partial/comment', {
	shortname: config.disqus_shortname
	}) %>
</div>
